pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Set esPar",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "espar",
					"value": {
						"value": "@equals(mod(pipeline().parameters.numeroAnalizar,2),0)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set esPar",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('espar')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set noesPar",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "mensaje",
								"value": {
									"value": "El número es @{pipeline().parameters.numeroAnalizar} es impar",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set mensaje par",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "mensaje",
								"value": {
									"value": "El número @{pipeline().parameters.numeroAnalizar} es Par",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"numeroAnalizar": {
				"type": "int",
				"defaultValue": 0
			}
		},
		"variables": {
			"espar": {
				"type": "Boolean"
			},
			"mensaje": {
				"type": "String"
			}
		},
		"annotations": []
	}
}